__pycache__
ai.out
app.py
tmp.py
learn/evaluation.out
learn/self_play.out
book/make_board.out
book/ai_probability.out
book/early_stage.out
book/early_stage.txt
book/boards.txt
book/val.txt
book/one_board.txt
book/some_boards.txt
book/cmd.txt
book/cmd2.txt
learn/decide.out
learn/early_stage.out
Procfile
statistics
learn/graph
learn/learn_data
learn/learn_data2
learn/boards
learn/boards_mr
learn/param
learn/third_party
book/param
book/third_party
codingame
self_play/param
self_play/learn_data
self_play/self_play.out