__pycache__
ai.out
app.py
tmp.py
learn/evaluation.out
learn/self_play.out
book/make_board.out
book/ai_probability.out
learn/decide.out
learn/early_stage.out
Procfile
statistics
learn/graph
learn/learn_data
learn/learn_data2
learn/boards
learn/boards_mr
learn/param
learn/third_party
book/param
book/third_party
codingame