html, body {
    overflow: hidden
}
.title {
    text-align: center;
}
.board {
    margin: auto;
    padding: 0px;
    width: 64vmin;
    height: 64vmin;
    background: rgb(36, 153, 114);
    border-collapse: collapse;
    font-size: 0pt;
}
.cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    border: 0.25vmin solid rgb(0, 0, 0);
}
.black_stone {
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.white_stone {
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.legal_stone {
    margin: 0px;
    width: 3vmin;
    height: 3vmin;
    background-color: rgb(58, 189, 206);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.empty_stone {
    margin: 0px;
    width: 8vmin;
    height: 8vmin;
    background: rgb(36, 153, 114);
    text-align: center;
    display: inline-block;
}