html, body {
    font-family: "Arial", "メイリオ";
}
.title {
    text-align: center;
    font-size: 5vmin;
    font-weight: bolder;
}
.sub_title {
    text-align: center;
    font-size: 2.5vmin;
    font-weight: bold;
}
.sub_sub_title {
    text-align: center;
    font-size: 2vmin;
    font-weight: bold;
}
.setting {
    font-size: 2.5vmin;
}
.radio_size {
    width: 2.5vmin;
    height: 2.5vmin;
}
.coords {
    border-collapse: collapse;
}
.coord_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    border: 0.25vmin solid transparent;
}
.coord {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    font-size: 3.5vmin;
    font-weight: bolder;
}
.board {
    margin: auto;
    padding: 0px;
    width: 48vmin;
    height: 48vmin;
    background: rgb(36, 153, 114);
    border-collapse: collapse;
    font-size: 0pt;
    table-layout: fixed;
}
.cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    border: 0.25vmin solid rgb(0, 0, 0);
}
.black_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 5vmin;
    height: 5vmin;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}
.white_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 5vmin;
    height: 5vmin;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}
.legal_stone {
    text-align: center;
    margin: 0px;
    width: 3vmin;
    height: 3vmin;
    background-color: rgb(57, 179, 206);
    border-radius: 50%;
    display: inline-block;
}
.empty_stone {
    text-align: center;
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    background: rgb(36, 153, 114);
    display: inline-block;
}
.status {
    margin-top: 1vmin;
    padding: 0px;
    width: 42vmin;
    height: 6vmin;
    border-collapse: collapse;
    font-size: 0vw;
}
.status_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(180, 180, 180);
}
.status_char {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(180, 180, 180);
    font-size: 4vmin;
    font-weight: bolder;
}
.status_blank {
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    text-align: center;
    display: inline-block;
}
.record {
    overflow-wrap: break-word;
}