<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>Egaroucid</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="title">
            <h1>Egaroucid - Othello AI</h1>
            <h2>This AI got 10th in the world (<a href="https://www.codingame.com/ide/puzzle/othello-1" target="_blank">Codingame Othello</a>)</h2>
        </div>
        <div>
            <div class="board">
                {% for row in grid %}
                    <p class="board_row">
                        {% for stone in row %}
                            {% if stone == 0 %}
                                <div class="black_stone"></div>
                            {% elif stone == 1 %}
                                <div class="white_stone"></div>
                            {% else %}
                                <div class="empty_stone"></div>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
            </div>
        </div>
        <script src="static/js/script.js"></script>
    </body>
</html>