<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Egaroucid</title>
    </head>
    <body>
        <div class="title">Egaroucid - Othello AI</div>
        <div class="sub_title">This AI got 10th in the world (<a href="https://www.codingame.com/ide/puzzle/othello-1" target="_blank">Codingame Othello</a>)</div>
        <table class="board" id="board" align="center">
            {% for row in grid %}
                <tr>
                {% for stone in row %}
                    {% if stone == 0 %}
                        <td class="cell"><span class="black_stone"></span></td>
                    {% elif stone == 1 %}
                        <td class="cell"><span class="white_stone"></span></td>
                    {% elif stone == 2 %}
                        <td class="cell" onclick="move(this.parentNode.rowIndex, this.cellIndex)"><span class="legal_stone"></span></td>
                    {% else %}
                        <td class="cell"><span class="empty_stone"></span></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <table class="status" id="status" align="center">
            <tr>
                <td class="status_cell"><span class="legal_stone"></span></td>
                <td class="status_cell"><span class="black_stone"></span></td>
                <td class="status_char"><span class="state_blank">2</span></td>
                <td class="status_char"><span class="state_blank">-</span></td>
                <td class="status_char"><span class="state_blank">2</span></td>
                <td class="status_cell"><span class="white_stone"></span></td>
                <td class="status_cell"><span class="state_blank"></span></td>
            </tr>
        </table>
        <div id="turn">turn comes here</div>
        <script src="static/js/script.js"></script>
    </body>
</html>