<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>Egaroucid</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="title">
            <h1>Egaroucid - Othello AI</h1>
            <h2>This AI got 10th in the world (<a href="https://www.codingame.com/ide/puzzle/othello-1" target="_blank">Codingame Othello</a>)</h2>
        </div>
        <table class="board" border="1" align="center">
            {% for row in grid %}
                <tr>
                {% for stone in row %}
                    {% if stone == 0 %}
                        <td class="cell"><span class="black_stone"></span></td>
                    {% elif stone == 1 %}
                        <td class="cell"><span class="white_stone"></span></td>
                    {% else %}
                        <td class="cell"><span class="empty_stone"></span></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <script src="static/js/script.js"></script>
    </body>
</html>